
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  color: white;
}

.fondo-playa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  background: linear-gradient(
    to bottom,
    #87ceeb 0%,     
    #40e0d0 40%,  
    #20b2aa 70%,   
    #f4e2d8 100% 
  );
}


.burbujas span {
  position: absolute;
  bottom: -150px;
  width: 40px;
  height: 40px;
  background: rgba(64, 224, 208, 0.5);
  border-radius: 50%;
  animation: flotar 15s linear infinite;
}

.burbujas span:nth-child(1) { left: 10%; animation-duration: 18s; width: 30px; height: 30px; }
.burbujas span:nth-child(2) { left: 25%; animation-duration: 22s; }
.burbujas span:nth-child(3) { left: 40%; animation-duration: 16s; width: 50px; height: 50px; }
.burbujas span:nth-child(4) { left: 60%; animation-duration: 20s; }
.burbujas span:nth-child(5) { left: 75%; animation-duration: 19s; width: 35px; height: 35px; }
.burbujas span:nth-child(6) { left: 90%; animation-duration: 24s; }

@keyframes flotar {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.6;
  }
  50% {
    transform: translateY(-400px) scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-800px) scale(1);
    opacity: 0;
  }
}

.contenido {
  text-align: center;
  padding: 30px;
  position: relative;
  z-index: 1;
}

h1 {
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.controles {
  margin-bottom: 20px;
}

select, button {
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}

button {
  background: white;
  color: #20b2aa;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}


#contenedorPaletas {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.paleta {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  animation: aparecerPaleta 0.5s ease forwards;
}

.colorItem {
  width: 100px;
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 12px;
  padding-bottom: 10px;
}

@keyframes aparecerPaleta {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

#mensajeEstado {
  margin-top: 30px;
  font-weight: bold;
}